[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
xmltodict = "*"
flower = "*"
jsonweb = "*"
django-reset-migrations = "*"
django-rest-swagger = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
